<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
   
        <link href="{{ asset('Frontend/css/css-reset.css')}}" rel="stylesheet"/>
        <link href="{{ asset('Frontend/css/style.css')}}" rel="stylesheet"/>
        <link href="{{ asset('Frontend/css/style_carte.css')}}" rel="stylesheet"/>
        <link href="{{ asset('Frontend/css/bootstrap.min.css')}}" rel="stylesheet"/>
        <link href="{{ asset('Frontend/css/app-style.css')}}" rel="stylesheet"/>
        <link href="{{ asset('Frontend/css/card.css')}}" rel="stylesheet"/>
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:400,700')}}" rel="stylesheet"/>
       

    {% block javascripts %}
        <script src="../../Frontend/js/jquery-2.1.4.min.js"></script>
        <script src="../../Frontend/js/slider.js"></script>
        <script src="../../Frontend/js/js_1.js"></script>
    {% endblock %}
</head>
<body>
{% block header %}

<body>
<div class="top-panel">
    <div class="top-panel-wrapper">
        <ul class="menu">
            <li><a href="">Home</a></li>
            <li class="active"><a href="{{ path ('tournois') }}">Tournois</a></li>
            <li><a href="{{ path ('events') }}">Events</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="">E-Sports</a></li>
            <li><a href="">Coaching</a></li>
            <li><a href="">About Us</a></li>
        </ul><!-- menu -->
        <div class="right-top-block">
            <div class="lang-block">
                <a href="javascript:void(0);" class="main-item"> Language <span>(eng)</span> <img src="../../Frontend/images/united-states.png" alt=""></a>
                <ul class="hidden-block">
                    <li><a href="" class="main-item"> English <img src="../../Frontend/images/united-states.png" alt=""></a></li>
                    <li><a href="" class="main-item"> German <img src="../../Frontend/images/germany.png" alt=""></a></li>
                    <li><a href="" class="main-item"> French <img src="../../Frontend/images/france.png" alt=""></a></li>
                    <li><a href="" class="main-item"> Russian <img src="../../Frontend/images/russia.png" alt=""></a></li>
                </ul>
            </div>
            <a href="" class="login">Login</a>
        </div><!-- right-top-block -->
    </div>
</div><!-- top-panel -->
<div class="wrapper">

    <header class="header">
        <div class="header-menu flex">
            <div class="soc-block">



            
                <a href="" class="fb" target="_blank"><i></i> Facebook</a> <a href="" class="tw" target="_blank"><i></i> Twitter</a> <a href="" class="yt" target="_blank"><i></i> Youtube</a>
            </div>
            <div class="logo">
                <a href="/"></a>
            </div>
            <div class="search-block">
                <input type="text" name="search" placeholder="SEARCH..."> <button></button>
            </div>
        </div><!-- header-menu -->
    </header><!-- .header-->


{% endblock %}

{% block body %}{% endblock %}

{% block footer %}

    <footer class="footer">
        <div id="toTop">
        </div>
        <div class="f-top">
            <img src="../../Frontend/f-logo.png" alt="">
            <div class="f-menu-block">
                <ul class="f-menu">
                    <li><a href="">Home</a></li>
                    <li class="active"><a href="">Carte</a></li>
                    <li><a href="">Merch</a></li>
                    <li><a href="">Forum</a></li>
                    <li><a href="">E-Sports</a></li>
                    <li><a href="">Coaching</a></li>
                    <li><a href="">About Us</a></li>
                </ul>
                <div class="lang-block">
                    <a href="javascript:void(0);" class="main-item"> Language <span>(eng)</span> <img src="../../Frontend/images/united-states.png" alt=""></a>
                    <ul class="hidden-block">
                        <li><a href="" class="main-item"> English <img src="../../Frontend/images/united-states.png" alt=""></a></li>
                        <li><a href="" class="main-item"> German <img src="../../Frontend/images/germany.png" alt=""></a></li>
                        <li><a href="" class="main-item"> French <img src="../../Frontend/images/france.png" alt=""></a></li>
                        <li><a href="" class="main-item"> Russian <img src="../../Frontend/images/russia.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- f-top -->
        <div class="f-bottom">
            <div class="copyright">
                Copyright 2018 © <a href="">SiteName.com</a> <br>
                Fan site is designed to familiarize <br>
                with the game.
            </div>
            <div class="design">
                Designed by <a href="http://dkarts.studio" target="_blank">DKarts.Studio</a> <br>
                for <a href="https://templstock.com" target="_blank">Templstock.com</a>
            </div>
        </div>
    </footer><!-- .footer -->

{% endblock %}
</div>
</div>
</html>

